@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1440px;
  height: 100vh;
  overflow: hidden;
  background: url("./Rectangle\ 55.png");
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(245, 241, 255, 0.8) 0%,
    rgba(245, 241, 255, 0) 95.8%
  );
}
.shade-1 {
  position: absolute;
  width: 1100px;
  height: 1100px;
  left: 850px;
  top: -50px;
}
.shade-2 {
  position: absolute;
  width: 1100px;
  height: 1100px;
  left: -350px;
  top: 610px;
}
.logo {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 96px;
  top: 20px;
}
.nav ul li {
  display: inline-block;
  position: relative;
  left: 900px;
  top: 38px;
}
.nav ul li a {
  text-decoration: none;
  padding: 0px 25px;
  color: #000;
}
.nav ul li a:hover {
  color: #0045ff;
}
.nav ul li a.btn {
  padding: 20px 20px;
  background: #0045ff;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
}
.nav ul li button a {
  color: #ffffff;
  font-weight: 700;
}
.header-text {
  position: absolute;
  width: 450px;
  height: 100px;
  left: 580px;
  top: 150px;
}
.sub-heading {
  position: absolute;
  width: 250px;
  height: 12px;
  left: 780px;
  top: 280px;
}
.section{
  position: absolute;
  width: 700px;
  height: 320px;
  left: 450px;
  top: 404px;
  background: rgba(0, 0, 0, 0.025);
  border: 2px solid #ffffff;
}